*
!Dockerfile
!task1_mujoco/
!task1_mujoco/robotiq_duo_full_scene_minimal_core/**
!task1_mujoco/mnet_client-ros_2/**
!task1_mujoco/teleop_ros2/**

**/__pycache__/
**/*.pyc
**/*.egg-info/
**/build/
**/logs/
**/runs/
**/output/
**/outputs/
**/videos/
**/*.log
**/*.tmp
task1_mujoco/mnet_client-ros_2/assets/grasping_in_clutter/
task1_mujoco/mnet_client-ros_2/assets/tabletop_manipulation/
